@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap");

body {
  background-color: #fbf9f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  font-family: "Ysabeau SC", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  gap: 100px;
  justify-content: center;
}
footer {
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
  background-color: #f1e4c3;
  border: antiquewhite;
  border-radius: 10px;
  padding: 10px 150px;
}
a {
  text-decoration: none;
  font-size: 28px;
  color: black;
}
a:hover {
  color: purple;
  font-weight: bold;
}
#sketchpad {
  display: grid;
  height: 500px;
  width: 500px;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#colorChooseWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

#buttons {
  display: flex;
  height: 500px;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #fbf9f1;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  border-color: transparent;
  transition: background-color 0.3s ease-in-out;
  font-family: "Ysabeau SC", sans-serif;
}
.btn:hover {
  background-color: grey;
}
#sliderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}
.grids {
  display: flex;
}

/* responsiveness */

@media (max-width: 800px) {

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  #buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 0;
    flex-wrap: wrap;
  }
  #sketchpad{
    margin-top: 3rem;
  }
}
